/* Style file for PGN2HTML
 */

.pgn2html {
}
 
/* Black field */
.pgn2html .blackfield{
  background-color: #7389b6;
}

/* White field */
.pgn2html .whitefield{
  background-color: #f3f3f3;
}

.pgn2html p.played {
  text-align: left;
  font-weight: bold;
}

.pgn2html #diagram {
  width: 320px;
  /* to avoid gap between lines */
  line-height: 0%;
  border: solid 1px gray;
}

.pgn2html #leftside {
  float: left;
  height: 100%;
  width : 320px;
}

.pgn2html #insideleft {
  text-align: center;
}

.pgn2html #insideright {
  padding-left: 8px;
}

.pgn2html #rightside {
  overflow-y: auto;
  height: 400px;
}

.pgn2html .comment {
  font-style: italic;
}

.pgn2html .nag {
  font-weight: bold;
}

.pgn2html .mainline {
  font-weight: bold;
}

.pgn2html .variant {
}

.pgn2html .result {
  font-weight: bold;
}

.pgn2html .game {
}